.add-state-container{
    width:900px;
    margin:30px auto;
    background:#f7f7f7;
    padding:20px;
    border-radius:25px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    font-family:Tahoma;
}

.syria-logo-add-state-logo{
    width:100px;
    position:absolute;
}

.add-state-title{
    text-align:center;
    font-size:28px;
    font-weight:bold;
    color:#3c2a4d;
    margin-bottom:20px;
}

/* stepper */

.add-state-stepper,.add-state-stepper2,.add-state-stepper3{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:30px;
}

.add-state, .add-state3{
    width:45px;
    height:45px;
    border-radius:50%;
    border:2px solid #999;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    background:white;
}

.as-step-active{
    border-color:#0b4f6f;
    box-shadow:0 0 8px rgba(0,0,0,0.2);
}

.add-state-stepper-line{
    width:60px;
    height:2px;
    background:#aaa;
}

/* form */

.add-state-form label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:600;
}

.add-state-input , .add-state-input-footsteps{
    width:80%;
    padding:12px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:14px;
}
.add-state-input-footsteps{
    width: 800px;
}

/* radio */

.add-state-state-radio-group{
    display:flex;
    gap:25px;
    margin:10px 0 20px;
}

.add-state-radio{
    font-size:16px;
}

/* grid */

.add-state-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}


/* button */

.add-state-actions{
    display:flex;
    justify-content:center;
    margin-top:30px;
}

.add-state-btn-primary{
    background:#0b4f6f;
    color:white;
    border:none;
    padding:12px 45px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.add-state-btn-primary:hover{
    background:#083a52;
}
/* /////////////////////////////////////////////////////////// */
/*for add state step2 and step3*/
.add-state-stepper2 div:first-child ,.add-state-stepper3 .add-state3 {
    background-color: #0b4f6f;
    color: white;
}
.add-state-title-form{
    color:  #0b4f6f;
    text-align: center;
}