.create-account-container{
  display:flex;
  height:100vh;
  font-family:Tahoma;
}

/* LEFT FORM */
.create-account-left{
  width:40%;
  height: 700px;
  background:#f4f7fb;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  border: solid 1px white;
  border-radius: 2px;
  margin-left: 200px;
  margin-top: 10px;
}

/* FORM */
.create-account-form{
  width:500px;
  height: 550px;
  max-width:90%;
  background:white;
  border-radius:22px;
  box-shadow:
  0 30px 60px rgba(11,79,111,0.08),
  0 6px 18px rgba(11,79,111,0.05);
  display:flex;
  flex-direction:column;
  gap:10px;
}

/* TITLE */
.create-account-h3{
  text-align:center;
  font-size:32px;
  font-weight:800;
  color:#123a52;
  margin:15px 0px 40px;
}


/* INPUT GROUP */
.create-account-input-group{
  position: relative;
  width: 100%;
}

.create-account-input-group input{
  width:90%;
  padding:16px;
  margin-left: 20px;
  border-radius:14px;
  border:1.5px solid #e3edf5;
  background:#f7fbff;
  font-size:18px;
  outline:none;
  transition:.2s;
  text-align: right;
}

/* ICON */
.create-account-input-group i{
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-size: larger;
}
/* //////////////////////////new */
.error {
  border: 2px solid red;
}

.error-text {
  color: red;
  font-size: 12px;
  display: block;
}

/* //////////////////////////////////// */
/* BUTTON */
.create-account-submit , .create-account-submit-2{
  margin-top: 241px;
  padding:14px;
  border:none;
  border-radius:14px;
  background:#0b4f6f;
  color:#fff;
  font-size:20px;
  font-weight:700;
  cursor:pointer;
  transition:.2s;
}
.create-account-submit{
  margin-top: 100px;
}
.create-account-submit , .create-account-submit-2:hover{
  transform:translateY(-2px);
  box-shadow:0 10px 22px rgba(11,79,111,0.18);
}

a{
  color: purple;
  text-decoration: underline;
}
a:hover{
  color:#0b4f6f;
  text-decoration: none;
}

/* RIGHT IMAGE */
.create-account-right{
  width:25%;
  height: 650px;
  background-image: url("../images/Rectangle_1.jpg");
  background-size:cover;
  background-position:center;
  position:relative;
  margin-top: 10px;
  text-align: center;
  padding-top: 50px;
}

/* logo */
.syria-logo-create-account-logo{
  width:120px;
  margin-bottom:20px;
  margin: auto;
}
.create-account-title{
  font-size:30px;
  color:white;
  font-weight:800;
  margin:15px 0;
}

.create-account-sub{
  color:white;
  font-weight:700;
  margin:3px 0;
}

