@tailwind base;
@tailwind components;
@tailwind utilities;

/* إضافة الخط العربي */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');
html,body,#root{
  height:100%;
}

/* body {
  margin: 0;
  font-family: 'Tajawal', Tahoma, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eaf3fb;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
